@import url('https://fonts.googleapis.com/css?family=Srisakdi:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato: 400,700');

::after, ::before, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-coluna {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.home .principal {
    width: 100%;
    height: 100vh;
    position: relative;
}

.home .principal {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
}

.img-bg {
    background: url(../@fotos/joshua-aragon-1267601-unsplash.jpg);
    background-size: 100% 100%;
    height: 800px;
    background-blend-mode: overlay;
    filter: blur(3px);
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.nome {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(230, 230, 230);
    transform: translate(-50%, -50%);
    }

.autor {
    font-size: 72px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-align: center;
}

.job {
    font-size: 28px;
    font-family: 'Lato';
    text-align: center;
}

.sociais {
    background-color: rgba(66, 66, 66, 0.1);
    width: 70px;
    position: absolute;
    right: 0;
    margin: 15px 5px;
}


.abas {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-85%, -50%);
}

.abas ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.abas ul li {
    list-style-type: none;
}

.abas a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

.abas hr {
    height: 5px;
    background-color: black;
    width: 100%;
    position: absolute;
}

footer {
    position: absolute;
    top: 90%;
    padding: 2px;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    transform: translate(0%, 0%);
    text-align: center;
    width: 200px;
}

